.NavigationItem{
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.NavigationItem a{
  color: black;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}


.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4C8;
}

@media only screen and (min-width: 850px){
  .NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    vertical-align: middle;
    width:auto;
  }

  .NavigationItem a{
    color: black;
    height: 100%;
    padding: 5px 26px 13px 26px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #919194;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}
